body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient( 90deg, rgba(131, 58, 180, 1) 0%, rgba(116, 130, 255, 1) 100%, rgba(252, 176, 69, 1) 100% );
}

main {
    width: 80%;
    margin: 5% auto;
    padding: 2.5%;
    text-align: center;
    border: 5px black solid;
    color: rgb(232, 158, 255);
    text-shadow: 1px 2px 0px #000000;
    letter-spacing: 2px;
}

h1 {
    margin-top: 5%;
    padding-bottom: 5%;
}

label {
    text-align: right;
    width: 11em;
}

input {
    margin-left: 1em;
    margin-right: .5em;
    margin-bottom: .5em;
    width: 5em;
    text-align: center;
}

span {
    font-size: 14px;
    color: #ff4a4a;
    text-shadow: 1px 1px 2px #000000;

}

.btn {
    margin: 2.5%;
    width: 13em;
}