body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(116, 130, 255, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
}
main {
  width: 80%;
  margin: 5% auto;
  padding: 2.5%;
  text-align: center;
  border: 5px black solid;
  color: rgb(232, 158, 255);
  text-shadow: 1px 2px 0px rgb(0, 0, 0);
  letter-spacing: 2px;
}

h1 {
  margin-top: 5%;
  padding-bottom: 5%;
}

label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 5%;
  padding-bottom: 5%;
}

button {
    margin: 2.5%;
}
